.header-toolbar {
  background-color: #212121;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }

  .search-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
}
